body {
    margin: 0;
    padding: 0;
    margin-left: 5vw;
    margin-right: 5vw;
}


.container {
    min-width: fit-content;
    
}


.headline {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.headline svg {
    width: 430px;
}

.menu {
    margin-top: 1em;
    display: flex;
    justify-content: center;   
    border-top: 1px solid lightslategray;
    border-bottom: 4px double black;
    flex-wrap: wrap;
}

.menu button {
    border: none;
    background: none;
    margin: 5px;
}

.menu button:hover {
    background-color: beige;
}

.articles {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1.5px solid black;
}

.articles img {
    width: 30vw;
    min-height: 90%;
    
}

.articles .text {
    margin-left: 25px;
}

/* 사이드바 만들기 starts */

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: burlywood;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }
  
  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }
  
  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
  }

 .hamburger{
    display: none;
 }

#hamburger {
    display: none;
}

  @media screen and (max-width: 429px) {
    .hideMenu {
        display: none;
    }
    #hamburger {
        display: block;
    }
  }

  .showError {
    min-width: 80vw;
    height: 15vh;
    background-color: palevioletred;
    color: black;
    text-align: center;
    font-weight: bold;
  }